<div [ngClass]="'row content'">
  
  <div [ngClass]="'col-sm-4 changePasswordform'">
      <b [ngStyle]="{'color':'green'}">Change password</b>
  <form #changePasswordform="ngForm" (ngSubmit)="onSubmit(changePasswordform.value)" novalidate>
      <div [ngClass]="'form-group'">
          <label>Username</label><br>
          <input type="text" [ngClass]="'form-control'" name="username" #usernameRef="ngModel" required ngModel>
      </div>
      <div [hidden]="usernameRef.valid || usernameRef.pristine" [ngClass]="'alert alert-danger'">
          Please enter username
      </div>

      <div *ngIf="userNotFound" [ngClass]="'alert alert-danger'">
          Username not found
      </div>

      <div [ngClass]="'form-group'">
          <label>Old Password</label><br>
          <input type="password" [ngClass]="'form-control'" name="old_password" #oldpasswordRef="ngModel" required ngModel>
      </div>

      <div [hidden]="oldpasswordRef.valid || oldpasswordRef.pristine" [ngClass]="'alert alert-danger'">
          Please enter old password
      </div>

      <div *ngIf="wrongOldPassword" [ngClass]="'alert alert-danger'">
          Incorrect old password
      </div>


    <div [ngClass]="'form-group'">
        <label>New Password</label><br>
        <input type="password" [ngClass]="'form-control'" name="new_password" #newpasswordRef="ngModel"  minlength = 8 required ngModel>
    </div>

    <div *ngIf="newpasswordRef.errors && (newpasswordRef.dirty || newpasswordRef.touched)"  [ngClass]="'alert alert-danger'">
        
          <div [hidden]="!newpasswordRef.errors.required">
            Please enter new password
          </div>
      
          <div [hidden]="!newpasswordRef.errors.minlength">
              Please Enter atleast 8 characters
            </div>
          </div>

    <div [ngClass]="'form-group'">
      <label>Confirm new password</label><br>
      <input type="password" [ngClass]="'form-control'" name="confirm_password" #confirmpasswordRef="ngModel" required ngModel>
  </div>

  <div [hidden]="confirmpasswordRef.valid || confirmpasswordRef.pristine" [ngClass]="'alert alert-danger'">
      Please confirm your new password
  </div>


      <div *ngIf="passwordMatch" [ngClass]="'alert alert-danger'">
          New password not match confirm password
      </div>

      <div *ngIf="passwordChanged" [ngClass]="'alert alert-success'">
          Password changed successfully...
       </div>
 
       <div *ngIf="passwordChangeFailed" [ngClass]="'alert alert-danger'">
           Password change failed...
        </div>

      <div [ngClass]="'submitButton'">
      <input type="submit" [disabled]="!changePasswordform.valid" value="Submit" [ngClass]="'btn btn-success'">
      </div>

    

  </form>
</div>
</div>
