.changePasswordform {
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    margin-bottom:auto;
    border:1px solid #3366FF;
    border-radius: 5px;
    padding:10px;
    height:75vh;
}

.submitButton {
    text-align: center;
}

.content {
    border:2px solid black;
    min-height:88vh;
}