.row{
    border-left:2px solid white;
    border-right:2px solid white;
    border-bottom:2px solid white;
    border-top:1px solid white;
    background-color: wheat;
}

.about{
    padding:5px;
    float:left;
}

.help {
    padding:5px;
    float:right;
}