.viewmore{
    border-left:2px solid black;
    border-right:2px solid black;
    color:blue;
    padding:5px;
}


.content{
    border-left:2px solid black;
    border-right:2px solid black;
    border-bottom:2px solid black;
    min-height:69vh;
}

.history{
    border-left:2px solid black;
 
    border-bottom:2px solid black;
    min-height:69vh;
}


.lastUpdated{
    float:right;
}
b{
    color:red;
}
 
.answers {
    border-left:2px solid black;
    border-right:2px solid black;
    border-bottom:2px solid black;
    padding:10px;
}

.title {
    /* border-right:2px solid black; */
    border-bottom:2px solid black;
}


.titlebar {
    border-right:2px solid black;
    border-left:2px solid black;
    border-bottom:1px solid black;
    padding-left:5px;
}

img{
    width:40px;
    height:40px;
    float:right;
    margin-top:10px;
    border:2px solid brown;
}

.approveLaterButton {
    float:right;
    margin:1px;
}
