
<div [ngClass]="'row'">
  <div [ngClass]="'col-sm-9 titlebar'">
    <h5>New posts are waiting for your approvals</h5>
  </div>

  <div [ngClass]="'col-sm-3 titlebar '">
    <input type="button" [ngClass]="'btn btn-danger approveLaterButton'" value="Approve Later" (click)="onApproveLaterClick()">
   </div>
  </div>

  <div [ngClass]="'row content'">
      <div [ngClass]="'col-sm-12'">
      <div [ngClass]="'row'" *ngFor="let post of posts">
    <div [ngClass]="'col-sm-1 answers'">
        <img src="/assets/profile-icon.png" alt="image">
  </div>
    <div [ngClass]="'col-sm-11 title'" (click)="onPostClick(post)">
        <b [ngStyle]="{'color':'black'}">{{post.title}}</b><br>
       {{post.description | truncate }}<br>
   <b>Last updated : {{post.last_updated | amTimeAgo}}</b>
    </div>

  
  </div>
  
    </div>

  
  </div>

  <div [ngClass]="'row'">
    <div [ngClass]="'col-sm-12 viewmore'">
      <h5 (click)="onViewMoreClick()">View more</h5>
    </div>
 
    </div>
