img{
    width:40px;
    height:40px;
    /* float:right; */
    margin:0;
    border:2px solid brown;
    border-radius: 5px;
}

.userProfile {
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    background-color: wheat;
}
.appTitle{
   margin-top:5px;
}

.username{
    padding-top:10px;
    float:right;
    color:white;
}

.dropdown-menu{
    background-color: #3c658f;
    padding-left: 2px;
    color: white;
}

.alertMessage {
    margin:10px;
}

.alertMessageGroup {
    border-left:2px solid black;
    border-right:2px solid black;
}

h6{
    color:black;
}