.viewmore{
    border-left:2px solid white;
    border-right:2px solid white;
    color:white;
    padding:5px;
}


.content{
    border-left:2px solid white;
    border-right:2px solid white;
    border-bottom:2px solid white;
    min-height:69vh;
}

.history{
    border-left:2px solid white;
 
    border-bottom:2px solid white;
    min-height:69vh;
}


.lastUpdated{
    float:right;
}
b{
    color:red;
}
 
.answers {
    border-left:2px solid white;
    border-right:2px solid white;
    border-bottom:2px solid white;
    padding:10px;
    color:white;
}

.title {
    /* border-right:2px solid white; */
    border-bottom:2px solid white;
    color:white;
}


.titlebar {
    border-right:2px solid white;
    border-left:2px solid white;
    border-bottom:1px solid white;
    padding:5px;
    color:white;
}

img{
    width:40px;
    height:40px;
    float:right;
    margin-top:10px;
    border:2px solid brown;
}

.backimg{
    width:40px;
    height:40px;
    float:right;
    margin-top:10px;
   
}
