input.ng-valid{
    border-left: 2px solid green;
}

input.ng-invalid{
    border-left: 2px solid red;
    background: #D0D1D3;
}

.loginform {
    border:1px solid white;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding:10px;
}

.submitButton {
    text-align: center;
}

.form-group span {
    float:right;
    color:#ff6c00;
}


.signInUp{
    background-color: #B71135;
    margin-left: auto;
    margin-right: auto;
    border-top:1px solid white;
    border-left:1px solid white;
    border-right:1px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height:50px;
    padding:0;
}

.signinalert{
    margin-left: auto;
    margin-right: auto;
    padding:0;
}

.childDiv{
    display:inline-block;
    width:50%;
    height:50px;
    text-align: center;
    padding:10px;
    color:white;
 }
 .signIn{
    border-right:1px solid black;
    color:white;
 }
 
.childDiv:hover{
  color:orangered; 
 }

 label
 {
     color: white;
 }
 