
<div [ngClass]="'row topicbar'">
  <div [ngClass]="'col-sm-3'">
    <h3>{{topicData.topic_title}}</h3>
  </div>
  
  <div [ngClass]="'col-sm-5 '">
    <input type="text" [ngClass]="'form-control searchBox'" name="searchstring" placeholder="Please enter the word to search" [(ngModel)]="searchText">
  </div>
  
  <div [ngClass]="'col-sm-3 '">
      <input type="button" [ngClass]="'btn btn-primary searchbutton'" name="searchbutton" value="Search" (click)="onsearchButtonClick()">
    </div>

    <div [ngClass]="'col-sm-1 '">
      <img src="/assets/back.png" (click)="backButtonClicked()" alt="image" [ngStyle]="{'margin':'5px','border':'none'}">
    </div>
  
  </div>
  
<div [ngClass]="'row '">
  <div [ngClass]="'col-sm-3 filterLatest'" (click)="getlatestPosts()" [style.background-color]="tabColorLatest">
    <h5>Latest</h5>
  </div>
  
  <div [ngClass]="'col-sm-9 filterMostAnswered'" (click)="onMostAnsweredClick()" [style.background-color]="tabColorMost">
    <h5>Most Answered</h5>
  </div>
  
  </div>

  <div [ngClass]="'row content'">
      <div [ngClass]="'col-sm-10'">
      <div [ngClass]="'row'" *ngFor="let post of posts">
    <div [ngClass]="'col-sm-3 answers'">
        <img src="/assets/profile-icon.png" alt="image">
      {{post.total_answers}}<br>
     
      Answers
     
  </div>
    <div [ngClass]="'col-sm-9 title'" (click)="onPostClick(post)">
        <b [ngStyle]="{'color':'green'}">{{post.title}}</b><br>
       {{post.description | truncate }}<br>
   <b>Last updated : {{post.last_updated | amTimeAgo}}</b>
    </div>

  
  </div>
  
    </div>

    <div [ngClass]="'col-sm-2 history'">

    </div>
  </div>

  <div [ngClass]="'row'">
    <div [ngClass]="'col-sm-3 viewmore'">
      <h5 (click)="onViewMoreClick()">View more</h5>
    </div>
    
    <div [ngClass]="'col-sm-9 newIssue'">
      <h5 (click)="onAddnewissueClick()">Add new issue</h5>
    </div>
 
    </div>
