.searchBox{
    margin:5px;
    border:1px solid blue;
}

.searchbutton ,.backbutton{
    margin:5px; 
    float:right;
}

.topicbar {
    border:2px solid wheat;
}

h3 {
    color:green;
    margin:5px;
}

img{
    width:40px;
    height:40px;
    float:left;
    margin:5px;
}

.content{
    border-left:2px solid wheat;
    border-right:2px solid wheat;
    border-bottom:2px solid wheat;
    min-height:68vh;
}

.adduser ,.totalusers{
    border-left:2px solid wheat;
    border-right:2px solid wheat;
    border-bottom:2px solid wheat;
    color:blue;
    padding:5px;
}

.users {
    margin-top:10px;
    margin-bottom:10px;
}

.yesbutton{
    position:absolute;
    left:30px;
    bottom:10px;
 }
 
 .changebutton{
    
    position:absolute;
    right:30px;
    bottom:10px;
 }

 h5{
     color:white;
 }

