.row{
    min-height:80vh;
    border:1px solid white;
 
}

.topics {
   border:1px solid white;
    margin:10px 10px 10px 10px;
   min-height:20vh;
   min-width:30vh;
   position:relative;
   border-radius: 10px;
   background-color: #B71135;
}

.text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) ;
    color:white;
    cursor:pointer;
}

.totalPosts{
    position:absolute;
    top:70%;
    left:50%;
    transform: translate(-70%, -50%) ;
    color:white;
}

.totalTopics {
    margin-left:auto;
    margin-right:auto;
}
