
<div [ngClass]="'row content'">
    <div [ngClass]="'col-sm-4 forgotpassword'">
       
    <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit(forgotPasswordForm.value)" novalidate>
      <p><b [ngStyle]="{'color':'orange'}">Forgot your password?</b><br>
       <b> We'll send a mail with duplicate password.<br>
        Change it immeatiately once you login.</b></p>
      
      <div [ngClass]="'form-group'">
            <input type="text" placeholder="Enter your mail ID here..." [ngClass]="'form-control'" name="email" #emailRef="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$" required ngModel>
        </div>

        <div [hidden]="emailRef.valid || emailRef.pristine">
            <div *ngIf="emailRef.errors && emailRef.errors.required" [ngClass]="'alert alert-danger'">
                Email ID is required
            </div>
            <div *ngIf="emailRef.errors && emailRef.errors.pattern" [ngClass]="'alert alert-danger'">
                Email ID is invalid
            </div>
        </div>


        <div [ngClass]="'submitButton'">
        <input type="submit" [disabled]="!forgotPasswordForm.valid" value="Submit" [ngClass]="'btn btn-success'">
        </div>

    </form>
</div>
</div>