<div [ngClass]="'row content'">
  
      <div [ngClass]="'col-sm-5 formContainer'">
          <b [ngStyle]="{'color':'blue'}">Edit profile</b>
      <form #editprofileForm="ngForm" (ngSubmit)="onSubmit(editprofileForm.value)" novalidate [ngClass]="'editprofileform'">
          <div [ngClass]="'form-group'">
             <label>Username</label><br>
              <input type="text" [ngClass]="'form-control'" name="username" #usernameRef="ngModel" required minlength=3 [(ngModel)]="userData.username">
          </div>
    
          <div *ngIf="usernameRef.errors && (usernameRef.dirty || usernameRef.touched)"  [ngClass]="'alert alert-danger'">
            
              <div [hidden]="!usernameRef.errors.required">
                Please enter Firstname
              </div>
          
              <div [hidden]="!usernameRef.errors.minlength">
                  Please Enter atleast 3 characters
                </div>
              </div>
    
    
        <div [hidden]="!duplicateUsername" [ngClass]="'alert alert-danger'">
            Username alredy exists 
        </div>
    
          <div [ngClass]="'form-group'">
            <label>Email ID</label><br>
            <div [ngClass]="'row'">
                <div [ngClass]="'col-sm-4'"><input type="email" [ngClass]="'form-control emailBox'" name="email" #emailRef="ngModel" required [(ngModel)]="userData.email"></div>
                <div [ngClass]="'col-sm-4 emailDefault'">@knowledgeq.com</div>
            </div>
            
           
         </div>
         <div [hidden]="emailRef.valid || emailRef.pristine" [ngClass]="'alert alert-danger'">
             Invalid email ID
         </div>
    
         <div [hidden]="!duplicateEmail" [ngClass]="'alert alert-danger'">
            Email ID alredy exists 
        </div>
    
         <div [ngClass]="'form-group'">
          <label>Emp ID</label><br>
           <input type="text" [ngClass]="'form-control'" name="empID" #empRef="ngModel" required  minlength=3 [(ngModel)]="userData.empID">
       </div>
    
       <div *ngIf="empRef.errors && (empRef.dirty || empRef.touched)"  [ngClass]="'alert alert-danger'">
        
          <div [hidden]="!empRef.errors.required">
            Please enter Employee ID
          </div>
      
          <div [hidden]="!empRef.errors.minlength">
              Please Enter atleast 3 characters
            </div>
          </div>
    
       <div [hidden]="!duplicateEmpID" [ngClass]="'alert alert-danger'">
        Employee ID alredy exists 
       </div>
    
          <div [ngClass]="'form-group'">
            <label>Area of Interest</label><span><select name="interest" #topicRef="ngModel" [(ngModel)]="selectedTopic">
            <option *ngFor="let topic of topics" [value]="topic.topic_id"  >
                {{topic.title}}
            </option>
        </select></span>
        </div>
    
        <div [ngClass]="'form-group'">
          <label>Receive Notifications</label><input type="checkbox"  name="notify"    [(ngModel)]="notify" [ngStyle]="{'margin-left':'25px'}">
       </div>
  
       <div [hidden]="!userAdded" [ngClass]="'alert alert-success'">
         Profile updated successfully...
         </div>
    
          <div [ngClass]="'submitButton'">
          <input type="submit" [disabled]="!editprofileForm.valid" value="Submit" [ngClass]="'btn btn-success'">
          </div>
    
      </form>
    </div>
    </div>
    