input.ng-valid{
    border-left: 2px solid green;
}

input.ng-invalid{
    border-left: 2px solid red;
}

.formContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.editprofileform {
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px; */
    border:1px solid #3366FF;
    border-radius: 5px;
    border-radius: 5px;
    padding:10px;
}

.submitButton {
    text-align: center;
}

.form-group span {
    float:right;
    color:blue;
}

 .emailBox{
     width:100%
 }

 .emailDefault{
    margin-top:5px;
 }

 .content {
    border:2px solid wheat;
    min-height:88vh;
}

